@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap');


body{
  width: 100vw;
  display: flex;
  justify-content: center;
  font-size: 3vmin;
  background: white;
  font-family: 'Open Sans', sans-serif;
  z-index: 1;
}

main {
  padding:5vw;
}

.App-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}
.heading-background{
  position: fixed;
  opacity: 0.05;
  font-size: 35vmin;
  top:-2vh;
  z-index: -100;
  color:#9352ae;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

header h1{
font-size: 5vmin;
font-weight: 400;
margin-right: 70vw;
}

nav{
  display: flex;
  justify-content: flex-end;
  width:85%;
  position:fixed;
  top:6vh;
  z-index: 999;
}

nav li{
  font-size: 2.5vmin;
  display: inline-block;
  cursor: pointer;
}
nav li .link{
  text-decoration: none;
  color: black;
  padding:2vh 2vw;
  opacity: 0.3;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

li .link:hover{
  opacity: 1;
}

.active{
  color:black;
  opacity: 1;
}

.header-title button{
  background: black;
  border: 0;
  font-size: 2.5vmin;
  padding: 2vh 5vw;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}

.header-title button:hover{
  opacity: 0.8;
}

.header-title button a{
  font-family: 'Open Sans', sans-serif;
  color:white;
  text-decoration: none;
}

.header-title{
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 6.5vmin;
  text-align: left;
  margin-top:20vh;
}

.about{
  position: relative;
  margin-top: 20vh;
  display: flex;
  flex-direction: row;
}

.about-content{
  position: relative;
}

.about-content h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 10vmin;
  text-align: left;
  margin-bottom: 2vh;
}

.about-content p{
  font-size: 3.5vmin;
  text-align: left;
  width: 37vw;
}

.about img{
  width:50vw;
  height:auto;
  margin-left: 5vw;
}

.heading{
  
  margin-top: 20vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;  
  font-size: 10vmin;
}

.work{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project img{
width: 60vw;  
height: auto;
}


.project h1{
  font-size: 4.5vmin;
}

.project h2{
  font-size: 2.8vmin;
}

.contact{
  position: relative;
  margin-top: 20vh;
  text-align: left;
  
}
.contact h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 10vmin;
  text-align: left;
}
.amazing-color{
  color:#9352ae;
  opacity: 1;
}

.contact .email{
  color:black;
  font-size: 4vmin;
}
.contact li{
  display: inline-block;
  margin-top:0;
  margin-bottom: 0;
  margin-right: 1em;
  margin-left: 0;
}
.contact li a{
  text-decoration: none;
  color:black;
}
.footer{
  position: relative;
  top:2em;
  padding: 1em;
}
.footer a{
  text-decoration: none;
  color:#2c59fb;
}


@media only screen and (max-width : 800px) {

  .project img{
  width: 80vw;  
  height: auto;
  }

  nav li{
    font-size: 3vmin;
  }
}